interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stac.dynamical.org/catalog.json
  response:
    body:
      string: "{\n  \"type\": \"Catalog\",\n  \"id\": \"dynamical-org\",\n  \"stac_version\":
        \"1.1.0\",\n  \"description\": \"Cloud-optimized weather and climate datasets
        from dynamical.org\",\n  \"links\": [\n    {\n      \"rel\": \"root\",\n      \"href\":
        \"https://stac.dynamical.org/catalog.json\",\n      \"type\": \"application/json\",\n
        \     \"title\": \"dynamical.org STAC Catalog\"\n    },\n    {\n      \"rel\":
        \"child\",\n      \"href\": \"https://stac.dynamical.org/noaa-gfs-analysis/collection.json\",\n
        \     \"type\": \"application/json\",\n      \"title\": \"NOAA GFS analysis\"\n
        \   },\n    {\n      \"rel\": \"child\",\n      \"href\": \"https://stac.dynamical.org/noaa-gfs-forecast/collection.json\",\n
        \     \"type\": \"application/json\",\n      \"title\": \"NOAA GFS forecast\"\n
        \   },\n    {\n[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://stac.dynamical.org/noaa-gfs-analysis/collection.json
  response:
    body:
      string: "{\n  \"type\": \"Collection\",\n  \"id\": \"noaa-gfs-analysis\",\n
        \ \"stac_version\": \"1.1.0\",\n  \"description\": \"Weather analysis from
        the Global Forecast System (GFS) operated by NOAA NWS NCEP.\",\n  \"links\":
        [\n    {\n      \"rel\": \"root\",\n      \"href\": \"https://stac.dynamical.org/catalog.json\"[...]
[...]
