interactions:
- request:
    body: ''
    headers:
      lang:
      - en-US
    method: GET
    uri: https://api.waterdata.usgs.gov/ogcapi/v0/collections/monitoring-locations/items?id=USGS-05427718&limit=50000
  response:
    body:
      string: "{\n  \"type\": \"FeatureCollection\",\n  \"features\": [\n    {\n      \"type\":
        \"Feature\",\n      \"properties\": {\n        \"id\": \"USGS-05427718\",\n
        \       \"agency_code\": \"USGS\",\n        \"agency_name\": \"U.S. Geological
        Survey\",\n        \"monitoring_location_number\": \"05427718\",\n        \"monitoring_location_name\":
        \"YAHARA RIVER AT WINDSOR, WI\",\n        \"district_code\": \"55\",\n        \"country_code\":
        \"US\",\n        \"country_name\": \"United States of America\",\n        \"state_code\":
        \"55\",\n        \"state_name\": \"Wisconsin\",\n        \"county_code\":
        \"025\",\n        \"county_name\": \"Dane County\",\n        \"minor_civil_division_code\":
        \"87725\",\n        \"site_type_code\": \"ST\",\n        \"site_type\": \"Stream\",\n
        \       \"hydrologic_unit_code\": \"070900020504\",\n        \"basin_code\":
        null,\n        \"altitude\": 871.0,\n        \"altitude_accuracy\": 1.0,\n
        \       \"altitude_method_code\": \"N\",\n        \"altitude_method_name\":
        \"Interpolated from Digital Elevation Model\",\n        \"vertical_datum\":
        \"NAVD88\",\n        \"vertical_datum_name\": \"North American Vertical Datum
        of 1988\",\n        \"horizontal_positional_accuracy_code\": \"S\",\n        \"horizontal_positional_accuracy\":
        \"Accurate to + or - 1 sec.\",\n        \"horizontal_position_method_code\":
        \"M\",\n        \"horizontal_position_method_name\": \"Interpolated from map\",\n
        \       \"original_horizontal_datum\": \"NAD83\",\n        \"original_horizontal_datum_name\":
        \"North American Datum of 1983\",\n        \"drainage_area\": 73.6,\n        \"contributing_drainage_area\":
        37.0,\n        \"time_zone_abbreviation\": \"CST\",\n        \"uses_daylight_savings\":
        \"Y\",\n        \"construction_date\": null,\n        \"aquifer_code\": null,\n
        \       \"national_aquifer_code\": null,\n        \"aquifer_type_code\": null,\n
        \       \"well_constructed_depth\": null,\n        \"hole_constructed_depth\":
        null,\n        \"depth_source_code\": null,\n        \"revision_note\": null,\n
        \       \"revision_created\": null,\n        \"revision_modified\": null\n
        \     },\n      \"id\": \"USGS-05427718\",\n      \"geometry\": {\n        \"type\":
        \"Point\",\n        \"coordinates\": [\n          -89.35249999999999,\n          43.20888888888889\n
        \       ]\n      }\n    }\n  ],\n  \"numberReturned\": 1,\n  \"links\": [\n
        \   {\n      \"type\": \"application/geo+json\",\n      \"rel\": \"self\",\n
        \     \"title\": \"This document as GeoJSON\",\n      \"href\": \"https://api.waterdata.usgs.gov/ogcapi/v1/collections/monitoring-locations/items?f=json&id=USGS-05427718&limit=50000\"\n
        \   },\n    {\n      \"rel\": \"alternate\",\n      \"type\": \"application/ld+json\",\n
        \     \"title\": \"This document as RDF (JSON-LD)\",\n      \"href\": \"https://api.waterdata.usgs.gov/ogcapi/v1/collections/monitoring-locations/items?f=jsonld&id=USGS-05427718&limit=50000\"\n
        \   },\n    {\n      \"type\": \"text/html\",\n      \"rel\": \"alternate\",\n
        \     \"title\": \"This document as HTML\",\n      \"href\": \"https://api.waterdata.usgs.gov/ogcapi/v1/collections/monitoring-locations/items?f=html&id=USGS-05427718&limit=50000\"\n
        \   },\n    {\n      \"type\": \"text/csv; charset=utf-8\",\n      \"rel\":
        \"alternate\",\n      \"title\": \"This document as CSV\",\n      \"href\":
        \"https://api.waterdata.usgs.gov/ogcapi/v1/collections/monitoring-locations/items?f=csv&id=USGS-05427718&limit=50000\"\n
        \   },\n    {\n      \"type\": \"application/json\",\n      \"title\": \"Monitoring
        locations\",\n      \"rel\": \"collection\",\n      \"href\": \"https://api.waterdata.usgs.gov/ogcapi/v1/collections/monitoring-locations\"\n
        \   }\n  ],\n  \"timeStamp\": \"2026-09-18T10:25:26.107634Z\"\n}"
    headers:
      api-version:
      - 1.1.0
      content-crs:
      - <http://www.opengis.net/def/crs/OGC/1.3/CRS84>
      content-language:
      - en-US
      content-type:
      - application/json; charset=utf-8
      x-api-umbrella-request-id:
      - d0mg6b4gt4co3k6lnjtg
      x-build-version:
      - 1.1.0-f5dd83a2
      x-vcap-request-id:
      - 1797431e-919b-4d07-54d5-2c16965d94d5
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      lang:
      - en-US
    method: GET
    uri: https://api.waterdata.usgs.gov/ogcapi/v0/collections/continuous/items?limit=50000&monitoring_location_id=USGS-05427718&parameter_code=00060&time=2024-03-01T00%3A00%3A00%2B00%3A00%2F2024-03-02T00%3A00%3A00%2B00%3A00
  response:
    body:
      string: "{\n  \"type\": \"FeatureCollection\",\n  \"features\": [\n    {\n      \"type\":
        \"Feature\",\n      \"properties\": {\n        \"time_series_id\": \"238546af566645dca2c3c88954da7899\",\n
        \       \"monitoring_location_id\": \"USGS-05427718\",\n        \"parameter_code\":
        \"00060\",\n        \"statistic_id\": \"00011\",\n        \"time\": \"2024-03-01T00:00:00+00:00\",\n
        \       \"value\": \"18.7\",\n        \"unit_of_measure\": \"ft^3/s\",\n        \"approval_status\":
        \"Approved\",\n        \"qualifier\": null,\n        \"last_modified\": \"2025-09-13T00:55:38.634659+00:00\"\n
        \     },\n      \"id\": \"3a32375d-1d9a-48b4-9874-2da82a15ee9a\",\n      \"geometry\":
        {\n        \"type\": \"Point\",\n        \"coordinates\": [\n          -89.35249999999999,\n
        \         43.20888888888889\n        ]\n      }\n    },\n    {\n      \"type\":
        \"Feature\",\n      \"properties\": {\n        \"time_series_id\": \"238546af566645dca2c3c88954da7899\",\n
        \       \"monitoring_location_id\": \"USGS-05427718\"[...]
[...]
